<div class="container-fluid bg-white">
	
<div class="container">

	<div id="row">


		<div class="row p-2 d-flex">
			
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">Net-A-Porter</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+44 330 022 5700</h3>
			</div>
			
		</div>

		<div class="row p-2 d-flex">
				
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">Selfridges&Co</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+44 20 7160 6222</h3>
			</div>
			
		</div>

		<div class="row p-2 d-flex">
				
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">Topshop</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+44 344 984 0264</h3>
			</div>
			
		</div>

		<div class="row p-2 d-flex">
				
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">& Other Stories</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+44 03 736 9088</h3>
			</div>
			
		</div>

		<div class="row p-2 d-flex">
				
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">Revolve</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+1-562-926-5672</h3>
			</div>
			
		</div>

		<div class="row p-2 d-flex">
			
			
			<div class="col-3 d-flex">
				<h3 class="align-self-center display-4">Barney's New York</h3>
			</div>
			<div class="col-3 offset-3 d-flex">
				<h3 class="align-self-center display-4">+1-888-222-7639</h3>
			</div>
			
		</div>

	</div>
</div>

</div>